* {
	box-sizing:border-box;
}
body {
	margin:0;
	padding:0;
	background-color: red;
}
h1 {

}
h2 {

}
h3 {

}
.page {
	
}
.logo {

}
.nav {

}
.projects {

}
.thumbnail {

}
.thumbnail img {

}
.info {

}
.project-title {

}
.project-description {

}
.hero-image {

}
.hero-image img {

}
.work-image {

}
.work-text {

}
