* {
	box-sizing:border-box;
}
body {
	margin:0;
	padding:0;
}
.page {
	
}
.logo {

}
.nav {

}
.thumbnail {

}
.thumbnail img {

}
.project-title {

}
.project-description {

}
.hero-image {

}
.hero-image img {

}
.work-image {

}
.work-text {

}
