* {
	box-sizing:border-box;
}
body {
	margin:0;
	padding:0;
	font-family:'Brandon Text W01 Regular';
	font-size: 10pt;
	color: black;
	line-height: 1.4em;
}
h1 {
	font-family:'Brandon Grot W01 Black';
	font-size: 24pt;
	text-transform: uppercase;
	margin: 0;
	font-weight: normal;
}
h2 {
	font-family:'Brandon Grot W01 Bold';
	font-size: 10pt;
	margin: 0;
	font-weight: normal;
	color: black;
	text-transform: uppercase;
}
a {
	text-decoration: none;
	color: black;
}
.page {
	
}
.logo {

}
.nav {
	font-size: 12pt;
	font-family:'Brandon Grot W01 Bold';
	text-transform: uppercase;
	float: left;
	position: relative;
}
.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav li {
	display: inline-block;
	margin-right: 10px;
}
.clear {
	clear: both;
}
.projects {
	max-width: 1090px;
	margin:0 auto;
	height: auto;
}
.thumbnail {
	display: inline-block;
	margin: 0px 10px 10px 0px;
	border:1px solid black;
	height:375px;
	width:350px;
	padding:5px;
	position: relative;
}
.thumbnail-img {
	max-width: 350px;
	max-height: 350px;
	background: green;
}
.info {
	vertical-align: bottom;
	position: absolute;
	/*bottom: 2px;
	left: 5px;
	height: 25px;*/
	bottom: 0px;
	left: 0px;
	width: 350px;
}
.project-description {
	color:#bcbcbc;
	font-family:'Brandon Text W01 Regular';
}
.hero-image {

}
.hero-image img {

}
.work-image {

}
.work-text {

}
