* {
	box-sizing:border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}
@font-face {
	font-family: MercuryTextBold;
	src: url(assets/fonts/mercury/MercuryTextG1-Bold.otf);
}
@font-face {
	font-family: MercuryTextBoldItalic;
	src: url(assets/fonts/mercury/MercuryTextG1-BoldItalic.otf);
}
@font-face {
	font-family: MercuryTextBoldSC;
	src: url(assets/fonts/mercury/MercuryTextG1-BoldSC.otf);
}
@font-face {
	font-family: MercuryTextRoman;
	src: url(assets/fonts/mercury/MercuryTextG1-Roman.otf);
}
@font-face {
	font-family: MercuryTextItalic;
	src: url(assets/fonts/mercury/MercuryTextG1-Italic.otf);
}
@font-face {
	font-family: MercuryTextRomanSC;
	src: url(assets/fonts/mercury/MercuryTextG1-RomanSC.otf);
}
@font-face {
	font-family: MercuryTextSemibold;
	src: url(assets/fonts/mercury/MercuryTextG1-Semibold.otf);
}
@font-face {
	font-family: MercuryTextSemiboldItalic;
	src: url(assets/fonts/mercury/MercuryTextG1-SemiboldItalic.otf);
}
@font-face {
	font-family: MercuryTextSemiboldSC;
	src: url(assets/fonts/mercury/MercuryTextG1-SemiboldSC.otf);
}
@font-face {
	font-family: WhitneyHTFBlack;
	src: url(assets/fonts/whitney/WhitneyHTF-Black.otf);
}
@font-face {
	font-family: WhitneyHTFBold;
	src: url(assets/fonts/whitney/WhitneyHTF-Bold.otf);
}
@font-face {
	font-family: WhitneyHTFBook;
	src: url(assets/fonts/whitney/WhitneyHTF-Book.otf);
}
@font-face {
	font-family: WhitneyHTFLight;
	src: url(assets/fonts/whitney/WhitneyHTF-Light.otf);
}
@font-face {
	font-family: WhitneyHTFSemibold;
	src: url(assets/fonts/whitney/WhitneyHTF-SemiBold.otf);
}
@font-face {
	font-family: WhitneyHTFMedium;
	src: url(assets/fonts/whitney/WhitneyHTF-Medium.otf);
}
@font-face {
	font-family: DomaineDisplayBlack;
	src: url(assets/fonts/domaine/DomaineDispNar-Black.otf);
}
@font-face {
	font-family: DomaineDisplayBold;
	src: url(assets/fonts/domaine/DomaineDispNar-Bold.otf);
}


body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: auto;
	background: white;
	letter-spacing: .25px;
	overflow-x:hidden;
}
a {
	text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
h1 {
	margin: 0;
	width: auto;
	font-size: 55px;
	line-height: 1em;
	font-family: DomaineDisplayBold;
	letter-spacing: .5px;
	color: #231f20;
	position: relative;
	/*animation:1s ease-in 0s 1 fadeload;
	-webkit-animation:1s ease-in 0s 1 fadeload;
	-moz-animation:1s ease-in 0s 1 fadeload;
	-o-animation:1s ease-in 0s 1 fadeload;
	-ms-animation:1s ease-in 0s 1 fadeload;*/
	animation:.75s ease-in-out 0s 1 forwards fadeleft;
	-webkit-animation:.75s ease-in-out 0s 1 forwards fadeleft;
	-moz-animation:.75s ease-in-out 0s 1 forwards fadeleft;
	-o-animation:.75s ease-in-out 0s 1 forwards fadeleft;
	-ms-animation:.75s ease-in-out 0s 1 forwards fadeleft;
}
h3 {
	margin: 0;
	color: white;
	font-size: 32px;
	font-family: DomaineDisplayBold;
	letter-spacing: .75px;
	line-height: 1.2em;
	position: relative;
}
ul {
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
	-moz-margin-before: 0;
    -moz-margin-after: 0;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-start: 0;
    -o-margin-before: 0;
    -o-margin-after: 0;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-start: 0;
}
/*h3 > span {
	border-bottom: 2px solid white;
}
h3:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

h3:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}*/

h4 {
	margin: 0;
	font-family: MercuryTextItalic;
	line-height: 1.2em;
	font-size: 20px;
	color: #231f20;
	position: relative;	
	opacity: 0;
	animation:.75s ease-in-out .15s 1 forwards fadeleft;
	-webkit-animation:.75s ease-in-out .15s 1 forwards fadeleft;
	-moz-animation:.75s ease-in-out .15s 1 forwards fadeleft;
	-o-animation:.75s ease-in-out .15s 1 forwards fadeleft;
	-ms-animation:.75s ease-in-out .15s 1 forwards fadeleft;
}
p {
	margin: 0;
	margin-top: 15px;
	font-family: WhitneyHTFLight;
	line-height: 1.4em;
	font-size: 16px;
}
.thumbnail-button p {
	margin-top: 5px;
}
/*-----------------------------------------------------------------HAMBURGER MENU*/
.menu {
	position: fixed;
	overflow-y: scroll;
	right: -25%;
	top: 45px;
	background-color: rgba(255,255,255,1);
	min-width: 400px;
	width: 25%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	padding:0px 5% 100px 5%;
	-webkit-transition: .25s cubic-bezier(.92,0,.5,1);
	-moz-transition: .25s cubic-bezier(.92,0,.5,1);
	-o-transition: .25s cubic-bezier(.92,0,.5,1);
	-ms-transition: .25s cubic-bezier(.92,0,.5,1);
	transition: .25s cubic-bezier(.92,0,.5,1);
}
.menu-title, .menu-title > span, .menu-title a {
	position: relative;
}
.menu-title span:after {
	content: '';
	position: absolute;
	width: 0;
	height: 6px;
	/*background-image: url('assets/images/rule.gif');*/
	display: block;
	left: 0;
	-webkit-transition: .25s cubic-bezier(.92,0,.5,1);
	-moz-transition: .25s cubic-bezier(.92,0,.5,1);
	-o-transition: .25s cubic-bezier(.92,0,.5,1);
	-ms-transition: .25s cubic-bezier(.92,0,.5,1);
	transition: .25s cubic-bezier(.92,0,.5,1);
}
.menu-title-active span:after {
	width: 100%;
}
.about {
	color:red;
}
.about span:after {
	transition-delay:.25s;
	background:red;
}
.featured {
	color: blue;
}
.featured span:after {
	transition-delay:.35s;
	background:blue;
}
.design {
	color:green;
}
.design span:after {
	transition-delay:.45s;
	background:green;
}
.drawing {
	color: yellow;
}
.drawing span:after {
	transition-delay:.55s;
	background:yellow;
}
.clickoff {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	-webkit-transition: .75s linear;
	-moz-transition: .75s linear;
	-o-transition: .75s linear;
	-ms-transition: .75s linear;
	transition: .75s linear;
}
.scroll {
	overflow: hidden;
}
.open-clickoff {
	background: rgba(0,0,0,.25);
	opacity: 1;
	z-index: 2;
	-webkit-transition: .75s linear;
	-moz-transition: .75s linear;
	-o-transition: .75s linear;
	-ms-transition: .75s linear;
	transition: .75s linear;
}
.menu ul, .menu li {
	list-style: none;
	margin-left: 0;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
	-moz-margin-before: 0;
    -moz-margin-after: 0;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-start: 0;
    -o-margin-before: 0;
    -o-margin-after: 0;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-start: 0;
}
.menu li {
	font-family: DomaineDisplayBold;
	font-size: 40px;
	line-height: 1.2em;
	margin-top: 25px;
}
.sub-menu ul {
	list-style: none;
}
.sub-menu li {
	/*font-family:WhitneyHTFLight;*/
	font-size: 18px;
	margin-top: 10px;
	position: relative;
	text-decoration: none;
}
.sub-menu a {
	color: black;
	-webkit-transition: .25s cubic-bezier(.92,0,.5,1);
	-moz-transition: .25s cubic-bezier(.92,0,.5,1);
	-o-transition: .25s cubic-bezier(.92,0,.5,1);
	-ms-transition: .25s cubic-bezier(.92,0,.5,1);
	transition: .25s cubic-bezier(.92,0,.5,1);
}
.mdes-menu:hover {
	color: rgba(12,209,199,1);
	-webkit-transition: .25s cubic-bezier(.92,0,.5,1);
	-moz-transition: .25s cubic-bezier(.92,0,.5,1);
	-o-transition: .25s cubic-bezier(.92,0,.5,1);
	-ms-transition: .25s cubic-bezier(.92,0,.5,1);
	transition: .25s cubic-bezier(.92,0,.5,1);
}
.mdes-menu:hover:after {
	background: rgba(12,209,199,1);
}
.nba-menu:hover {
	color: rgba(50,190,100,1);
	-webkit-transition: .25s cubic-bezier(.92,0,.5,1);
	-moz-transition: .25s cubic-bezier(.92,0,.5,1);
	-o-transition: .25s cubic-bezier(.92,0,.5,1);
	-ms-transition: .25s cubic-bezier(.92,0,.5,1);
	transition: .25s cubic-bezier(.92,0,.5,1);
}
.nba-menu:hover:after {
	background: rgba(50,190,100,1);
}
.els-menu:hover {
	color: rgba(237,91,46,1);
	-webkit-transition: .25s cubic-bezier(.92,0,.5,1);
	-moz-transition: .25s cubic-bezier(.92,0,.5,1);
	-o-transition: .25s cubic-bezier(.92,0,.5,1);
	-ms-transition: .25s cubic-bezier(.92,0,.5,1);
	transition: .25s cubic-bezier(.92,0,.5,1);
}
.els-menu:hover:after {
	background: rgba(237,91,46,1);
}
.nfl-menu:hover {
	color: rgba(255,65,65,1);
	-webkit-transition: .25s cubic-bezier(.92,0,.5,1);
	-moz-transition: .25s cubic-bezier(.92,0,.5,1);
	-o-transition: .25s cubic-bezier(.92,0,.5,1);
	-ms-transition: .25s cubic-bezier(.92,0,.5,1);
	transition: .25s cubic-bezier(.92,0,.5,1);
}
.nfl-menu:hover:after {
	background: rgba(255,65,65,1);
}
.loeb-menu:hover {
	color: rgba(255,60,100,1);
	-webkit-transition: .25s cubic-bezier(.92,0,.5,1);
	-moz-transition: .25s cubic-bezier(.92,0,.5,1);
	-o-transition: .25s cubic-bezier(.92,0,.5,1);
	-ms-transition: .25s cubic-bezier(.92,0,.5,1);
	transition: .25s cubic-bezier(.92,0,.5,1);
}
.loeb-menu:hover:after {
	background: rgba(255,60,100,1);
}
.concept-menu:hover {
	color: rgba(229,107,110,1);
	-webkit-transition: .25s cubic-bezier(.92,0,.5,1);
	-moz-transition: .25s cubic-bezier(.92,0,.5,1);
	-o-transition: .25s cubic-bezier(.92,0,.5,1);
	-ms-transition: .25s cubic-bezier(.92,0,.5,1);
	transition: .25s cubic-bezier(.92,0,.5,1);
}
.concept-menu:hover:after {
	background: rgba(229,107,110,1);
}
.underline { 
	position: relative;
}
.underline:after {
	content: '';
  	position: absolute;
 	width: 0; 
 	height: 1px;
  	display: block;
 	margin-top: 1px;
  	left: 0;
  	background: black;
  	-webkit-transition: .25s cubic-bezier(.92,0,.5,1);
	-moz-transition: .25s cubic-bezier(.92,0,.5,1);
	-o-transition: .25s cubic-bezier(.92,0,.5,1);
	-ms-transition: .25s cubic-bezier(.92,0,.5,1);
	transition: .25s cubic-bezier(.92,0,.5,1);
}
.underline:hover:after {
	width: 100%;
  	left: 0;
  	-webkit-transition: .25s cubic-bezier(.92,0,.5,1);
	-moz-transition: .25s cubic-bezier(.92,0,.5,1);
	-o-transition: .25s cubic-bezier(.92,0,.5,1);
	-ms-transition: .25s cubic-bezier(.92,0,.5,1);
	transition: .25s cubic-bezier(.92,0,.5,1);
}
.open {
	right: 0%;
	opacity: 1;
	z-index: 10000;
	-webkit-transition: .25s cubic-bezier(.92,0,.5,1);
	-moz-transition: .25s cubic-bezier(.92,0,.5,1);
	-o-transition: .25s cubic-bezier(.92,0,.5,1);
	-ms-transition: .25s cubic-bezier(.92,0,.5,1);
	transition: .25s cubic-bezier(.92,0,.5,1);
}
.all {
	position: relative;
	right: 0;
	-webkit-transition: .25s cubic-bezier(.92,0,.5,1);
	-moz-transition: .25s cubic-bezier(.92,0,.5,1);
	-o-transition: .25s cubic-bezier(.92,0,.5,1);
	-ms-transition: .25s cubic-bezier(.92,0,.5,1);
	transition: .25s cubic-bezier(.92,0,.5,1);
}
.body-menu {
	right: 25% !important;
	opacity: .4;
	-webkit-transition: .25s cubic-bezier(.92,0,.5,1);
	-moz-transition: .25s cubic-bezier(.92,0,.5,1);
	-o-transition: .25s cubic-bezier(.92,0,.5,1);
	-ms-transition: .25s cubic-bezier(.92,0,.5,1);
	transition: .25s cubic-bezier(.92,0,.5,1);
}
/*-----------------------------------------------------------------ANIMATIONS*/
@keyframes slideleft {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}
@keyframes fadeload {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeleft {
	0% {
		left: -5%;
		opacity: 0;
	}
	100% {
		left: 0;
		opacity: 1;
	}
}
/*-----------------------------------------------------------------TOP NAV BAR*/
.top-bar {
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 3;
	background-color: rgba(255,255,255,.75);
	animation:1s ease-in-out 0s 1 fadeload;
	-webkit-animation:1s ease-in-out 0s 1 fadeload;
	-moz-animation:1s ease-in-out 0s 1 fadeload;
	-o-animation:1s ease-in-out 0s 1 fadeload;
	-ms-animation:1s ease-in-out 0s 1 fadeload;
}
.jared {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	/*transform: translate(0,-50%);
	left: 20px;*/
	z-index: 100;
	height: 40px;
}
.jared img {
	height: 40px;
	width: auto;
}
/*@-webkit-keyframes color-change {	
	0% {color: black;}
	33% {color: #e7e459;}
	66% {color: #acadaf;}
	100% {color: black;}
}*/
.rule {
	background-image: url('assets/images/rule.gif');
	position: fixed;
	width: 100%;
	height: 2px;
	top: 60px;
	z-index: 1;
	left: 50%;
	transform:translate(-50%,0);
}
.main-nav {
	left: 20px;
	top: 50%;
	/*left: 50%;
	transform:translate(-50%,-50%);*/
	transform:translate(0%,-50%);
	position: absolute;
	width: auto;
	margin: 0 auto;
	height: auto;
}
.main-nav a {
	color: black;
	font-family: DomaineDisplayBold;
	font-size: 16px;
}
/*-----------------------------------------------------------------OFFSET BUTTON*/
.button-container {
	z-index: 1;
	display: inline-block;
	height: auto;
	width: auto;
	margin-right: 150px;
}
.button-container a {
	color: black;
}
.end {
	margin-right: 0;
}
.button {
	position: absolute;
	min-width: 110px;
	height: auto;
	padding: 5px 20px;
	text-align: center;
}
.button>span {
	z-index: 2;
	font-family: WhitneyHTFBook;
	position:relative;
	display: inline-block;
	color: black;
	top: 8px;
	left: 8px;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.button::before {
	content:'';
	width: 100%;
	height: 100%;
	top: 5px;
	left: 5px;
	background: white;
	border:3px solid #0cd1c7;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	z-index: 1;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.button::after {
	content:'';
	width: 100%;
	height: 100%;
	top: 12px;
	left: 12px;
	background: white;
	border:3px solid #0cd1c7;
	background-image: url('assets/images/rule.gif');
	position: absolute;
	z-index: -1;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.button:hover.button>span {
	-webkit-transform:translate(-2px,-2px);
	-moz-transform:translate(-2px,-2px);
	-o-transform:translate(-2px,-2px);
	-ms-transform:translate(-2px,-2px);
	transform:translate(-2px,-2px);
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.button:hover::before {
	-webkit-transform:translate(-2px,-2px);
	-moz-transform:translate(-2px,-2px);
	-o-transform:translate(-2px,-2px);
	-ms-transform:translate(-2px,-2px);
	transform:translate(-2px,-2px);
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.button:hover::after {
	/*background: rgba(12,209,199,.6);*/
	-webkit-transform:translate(2px,2px);
	-moz-transform:translate(2px,2px);
	-o-transform:translate(2px,2px);
	-ms-transform:translate(2px,2px);
	transform:translate(2px,2px);
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.thumbnail-button {
	position: absolute;;
	width: 350px;
	height: auto;
	padding: 30px;
	z-index: 100;
	animation:.65s ease-in 0s 1 fadeload;
	-webkit-animation:.65s ease-in 0s 1 fadeload;
	-moz-animation:.65s ease-in 0s 1 fadeload;
	-o-animation:.65s ease-in 0s 1 fadeload;
	-ms-animation:.65s ease-in 0s 1 fadeload;
}
.thumbnail-button>span {
	z-index: 3;
	position: relative;
	display: inline-block;
	color: white;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.thumbnail-button::before {
	content:'';
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	z-index: 3;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.thumbnail-button::after {
	content:'';
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	/*background: white;*/
	/*border:3px solid #0cd1c7;*/
	position: absolute;
	z-index: -1;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.thumbnail-portrait:hover > .thumbnail-button>span, .thumbnail-landscape:hover > .thumbnail-button>span {
	-webkit-transform:translate(-10px,-10px);
	-moz-transform:translate(-10px,-10px);
	-o-transform:translate(-10px,-10px);
	-ms-transform:translate(-10px,-10px);
	transform:translate(-10px,-10px);
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	cursor: pointer;
}
.thumbnail-portrait:hover > .thumbnail-button::before, .thumbnail-landscape:hover > .thumbnail-button::before {
	/*background: #0cd1c7;*/
	-webkit-transform:translate(-10px,-10px);
	-moz-transform:translate(-10px,-10px);
	-o-transform:translate(-10px,-10px);
	-ms-transform:translate(-10px,-10px);
	transform:translate(-10px,-10px);
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	cursor: pointer;
}

.thumbnail-portrait:hover > .thumbnail-button::after, .thumbnail-landscape:hover > .thumbnail-button::after {
	/*background: rgba(12,209,199,.6);*/
	-webkit-transform:translate(10px,10px);
	-moz-transform:translate(10px,10px);
	-o-transform:translate(10px,10px);
	-ms-transform:translate(10px,10px);
	transform:translate(10px,10px);
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	cursor: pointer;
}
.thumbnail-portrait:hover .overlay, .thumbnail-landscape:hover .overlay {
	opacity: 1;
	height: 100%;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	cursor: pointer;
}
.thumbnail-landscape:hover .bw-overlay, .thumbnail-portrait:hover .bw-overlay {
	/*opacity: 1;*/
	display: inline-block;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	cursor: pointer;
}

/*-----------------------------------------------------------------HOME PAGE THUMBNAIL*/
.center {
	width: 100%;
	height: 750px;
	position: relative;
	margin-top: 10px;
	clear: both;
}
.two {	
	width: 50%;
	height: 600px;
	max-height: 900px;
	position: relative;
	float: left;
	/*background: red;*/
	margin-top: 10px;
}
.thumbnail-landscape {
	width: 80%;
	max-width: 900px;
	min-width: 400px;
	height: auto;
	position: relative;
	z-index: 1;
	display: block;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	animation:1s ease-in 0s 1 fadeload;
	-webkit-animation:1s ease-in 0s 1 fadeload;
	-moz-animation:1s ease-in 0s 1 fadeload;
	-o-animation:1s ease-in 0s 1 fadeload;
	-ms-animation:1s ease-in 0s 1 fadeload;
}
.thumbnail-landscape img {
	width: 100%;
	min-width: 400px;
	height: auto;
	position: relative;
	z-index: 1;
	display: block;
	-webkit-transition: .2s ease-in-in;
	-moz-transition: .2s ease-in-in;
	-o-transition: .2s ease-in-in;
	-ms-transition: .2s ease-in-in;
	transition: .2s ease-in-in;
	animation:1s ease-in 0s 1 fadeload;
	-webkit-animation:1s ease-in 0s 1 fadeload;
	-moz-animation:1s ease-in 0s 1 fadeload;
	-o-animation:1s ease-in 0s 1 fadeload;
	-ms-animation:1s ease-in 0s 1 fadeload;
}
.thumbnail-portrait {
	width: 55%;
	min-width: 300px;
	height: auto;
	position: relative;
	z-index: 1;
	display: block;
	-webkit-transition: .2s ease-in-in;
	-moz-transition: .2s ease-in-in;
	-o-transition: .2s ease-in-in;
	-ms-transition: .2s ease-in-in;
	transition: .2s ease-in-in;
	animation:1s ease-in 0s 1 fadeload;
	-webkit-animation:1s ease-in 0s 1 fadeload;
	-moz-animation:1s ease-in 0s 1 fadeload;
	-o-animation:1s ease-in 0s 1 fadeload;
	-ms-animation:1s ease-in 0s 1 fadeload;
}
.thumbnail-portrait img {
	width: 100%;
	min-width: 300px;
	height: auto;
	position: relative;
	z-index: 1;
	display: block;
	-webkit-transition: .2s ease-in-in;
	-moz-transition: .2s ease-in-in;
	-o-transition: .2s ease-in-in;
	-ms-transition: .2s ease-in-in;
	transition: .2s ease-in-in;
	animation:1s ease-in 0s 1 fadeload;
	-webkit-animation:1s ease-in 0s 1 fadeload;
	-moz-animation:1s ease-in 0s 1 fadeload;
	-o-animation:1s ease-in 0s 1 fadeload;
	-ms-animation:1s ease-in 0s 1 fadeload;
}
.thumbnail-portrait img:hover, .thumbnail-landscape img:hover {
	transform: scale(1.01);
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.thumbnail-portrait img, .thumbnail-landscape img {
	object-fit:cover;
}
.bw-overlay {
	mix-blend-mode: color;
	position: absolute;
	background: white;
	bottom: 0px;
	left: 0;
	height: 100%;
	width: 100%;
	/*opacity: 0;*/
	display: none;
	z-index: 9;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.overlay {
	mix-blend-mode: multiply;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0%;
	width: 100%;
	opacity: 0;
	z-index: 10;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	-ms-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
#mdes-image {
	top: 15%;
	left: 8%;
}
#mdes-description {
	top: 15%;
	left: 55%;
	background-color: rgba(12,209,199,.7);
}
#mdes-description::before {
	background-color: rgba(12,209,199,1);
}
#mdes-description::after {
	background-color: rgba(12,209,199,.3);
}
#mdes-overlay {
	background-color: rgba(12,209,199,1);
}


#nba-image {
	top: 25%;
	right: -10%;
}
#nba-description {
	top:80%;
	right: 55%;
	background-color: rgba(50,190,100,.7);
}
#nba-description::before {
	background-color: rgba(50,190,100,1);
}
#nba-description::after {
	background-color: rgba(50,190,100,.3);
}
#nba-overlay {
	background-color: rgba(50,190,100,1);
}

#els-image {
	top:20%;
	left: 50%;
	transform:translate(-50%,0);
}
#els-description {
	top: 82%;
	left: 50%;
	transform:translate(-50%,0);
	background-color: rgba(237,91,46,.7);
}
#els-description::before {
	background-color: rgba(237,91,46,1);
}
#els-description::after {
	background-color: rgba(237,91,46,.3);
}
#els-overlay {
	background-color: rgba(237,91,46,1);
}

#diagram-image {
	top:20%;
	left: 5%;
}
#diagram-description {
	top:75%;
	left: 35%;
	background-color: rgba(255,65,65,.7);
}
#diagram-description::before {
	background-color: rgba(255,65,65,1);
}
#diagram-description::after {
	background-color: rgba(255,65,65,.3);
}
#diagram-overlay {
	background-color: rgba(255,65,65,1);
}

#remote-image {
	top:25%;
	right:-7%;
}
#remote-description {
	top:75%;
	right: 5%;
	background-color: rgba(220,220,30,.7);
}
#remote-description::before {
	background-color: rgba(220,220,30,1);
}
#remote-description::after {
	background-color: rgba(220,220,30,.3);
}
#remote-overlay {
	background-color: rgba(220,220,30,1);
}

/*------------------------------------------------------------PROJECT PAGE*/
.mdes-text {
	color: rgba(12,209,199,1);
}
.mdes-border {
	border-color: rgba(228,78,105,1);
}
.mdes-background {
	background-color: rgba(12,209,199,1);
}
.project-left { 
	height:auto;
	float: left;
	width:60%;
	margin-top: 60px;
	position: relative;
	background-color: rgba(235,235,235,1);
	padding-bottom: 50px;
}
.project-right {
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	width: 40%;
	min-width: 490px;
	color: black;
	background: white;
	z-index: 2;
	-webkit-transition: .25s cubic-bezier(.92,0,.5,1);
	-moz-transition: .25s cubic-bezier(.92,0,.5,1);
	-o-transition: .25s cubic-bezier(.92,0,.5,1);
	-ms-transition: .25s cubic-bezier(.92,0,.5,1);
	transition: .25s cubic-bezier(.92,0,.5,1);
}
.project-head {
	width: 100%;
	min-width: 490px;
	height: auto;
	padding: 30px 10% 25px 10%;
	margin-top: 70px;
}
.project-description {
	margin:0px 10% 50px 10%;
	padding-top: 10px;
	position: relative;
	opacity: 0;
	animation:.75s ease-in-out .25s 1 forwards fadeleft;
	-webkit-animation:.75s ease-in-out .25s 1 forwards fadeleft;
	-moz-animation:.75s ease-in-out .25s 1 forwards fadeleft;
	-o-animation:.75s ease-in-out .25s 1 forwards fadeleft;
	-ms-animation:.75s ease-in-out .25s 1 forwards fadeleft;
}
.project-description:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 6px;
	display: block;
	left: 0;
	animation:1s ease-out 0s 1 slideleft;
	-webkit-animation:1s ease-out 0s 1 slideleft;
	-moz-animation:1s ease-out 0s 1 slideleft;
	-o-animation:1s ease-out 0s 1 slideleft;
	-ms-animation:1s ease-out 0s 1 slideleft;
}
/*.project-description:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	display: block;
	right: 0;
	margin-top: 30px;
	animation:1s ease-out 0s 1 slideleft;
	-webkit-animation:1s ease-out 0s 1 slideleft;
	-moz-animation:1s ease-out 0s 1 slideleft;
	-o-animation:1s ease-out 0s 1 slideleft;
	-ms-animation:1s ease-out 0s 1 slideleft;
}*/

.intro-paragraph {
	font-size: 22px;
	margin-top: 25px;
	line-height: 1.25em;
	font-family: WhitneyHTFSemibold;
	/*animation:1s ease-out 0s 1 fadeload;
	animation-delay:1s;*/
}
.project-hero-image {
	width: 100%;
	height: 100vh;
	display: block;
	overflow: hidden;
	position: relative;
	animation:1s ease-in-out 0s 1 fadeload;
	-webkit-animation:1s ease-in-out 0s 1 fadeload;
	-moz-animation:1s ease-in-out 0s 1 fadeload;
	-o-animation:1s ease-in-out 0s 1 fadeload;
	-ms-animation:1s ease-in-out 0s 1 fadeload;
}
.project-hero-image img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit:cover;
	background-position: 50% 50%;
	animation:1s ease-in-out 0s 1 fadeload;
	-webkit-animation:1s ease-in-out 0s 1 fadeload;
	-moz-animation:1s ease-in-out 0s 1 fadeload;
	-o-animation:1s ease-in-out 0s 1 fadeload;
	-ms-animation:1s ease-in-out 0s 1 fadeload;
}
.project-image {
	width: 100%;
	height: 80vh;
	display: block;
	position: relative;
	animation:1s ease-in-out 0s 1 fadeload;
	-webkit-animation:1s ease-in-out 0s 1 fadeload;
	-moz-animation:1s ease-in-out 0s 1 fadeload;
	-o-animation:1s ease-in-out 0s 1 fadeload;
	-ms-animation:1s ease-in-out 0s 1 fadeload;
}
.project-image-two {
	width: 50%;
	height: 80vh;
	display: block;
	float: left;
	position: relative;
	animation:1s ease-in-out 0s 1 fadeload;
	-webkit-animation:1s ease-in-out 0s 1 fadeload;
	-moz-animation:1s ease-in-out 0s 1 fadeload;
	-o-animation:1s ease-in-out 0s 1 fadeload;
	-ms-animation:1s ease-in-out 0s 1 fadeload;
}
.clear {
	clear: both;
}
.project-image img, .project-image-two img {
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	z-index: 1;
	animation:1s ease-in-out 0s 1 fadeload;
	-webkit-animation:1s ease-in-out 0s 1 fadeload;
	-moz-animation:1s ease-in-out 0s 1 fadeload;
	-o-animation:1s ease-in-out 0s 1 fadeload;
	-ms-animation:1s ease-in-out 0s 1 fadeload;
}
.caption {
	padding: 20px;
	width: auto;
	max-width: 300px;
	position: absolute;
	color: white;
	bottom: 0;
	left: 50%;
	transform:translate(-50%,0%);
	z-index: 2;
	animation:1s ease-in-out 0s 1 fadeload;
	-webkit-animation:1s ease-in-out 0s 1 fadeload;
	-moz-animation:1s ease-in-out 0s 1 fadeload;
	-o-animation:1s ease-in-out 0s 1 fadeload;
	-ms-animation:1s ease-in-out 0s 1 fadeload;
}
.caption p {
	margin: 0;
	font-size: 14px;
}
.interior-nav {
	margin: 0px 10% 50px 10%;
	width: auto;
	position: relative;
	font-family: DomaineDisplayBold;
}
.interior-nav:before {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	display: block;
	bottom: 20px;
	left: 0;
	animation:1s ease-out .5s 1 forwards slideleft;
	-webkit-animation:1s ease-out .5s 1 forwards slideleft;
	-moz-animation:1s ease-out .5s 1 forwards slideleft;
	-o-animation:1s ease-out .5s 1 forwards slideleft;
	-ms-animation:1s ease-out .5s 1 forwards slideleft;
}
.previous {
	position: absolute;
	left: 0;
	z-index: 1000;
	color: black;
	opacity: 0;
	animation:.75s ease-in .75s 1 forwards fadeload;
	-webkit-animation:.75s ease-in .75s 1 forwards fadeload;
	-moz-animation:.75s ease-in .75s 1 forwards fadeload;
	-o-animation:.75s ease-in .75s 1 forwards fadeload;
	-ms-animation:.75s ease-in .75s 1 forwards fadeload;
	-webkit-transition: .25s cubic-bezier(.92,0,.5,1);
	-moz-transition: .25s cubic-bezier(.92,0,.5,1);
	-o-transition: .25s cubic-bezier(.92,0,.5,1);
	-ms-transition: .25s cubic-bezier(.92,0,.5,1);
	transition: .25s cubic-bezier(.92,0,.5,1);
}
.black {
	color:black;
	-webkit-transition: .25s cubic-bezier(.92,0,.5,1);
	-moz-transition: .25s cubic-bezier(.92,0,.5,1);
	-o-transition: .25s cubic-bezier(.92,0,.5,1);
	-ms-transition: .25s cubic-bezier(.92,0,.5,1);
	transition: .25s cubic-bezier(.92,0,.5,1);
}
.back {
	position: absolute;
	right: 0;
	z-index: 1000;
	color: black;
	opacity: 0;
	animation:.75s ease-in .75s 1 forwards fadeload;
	-webkit-animation:.75s ease-in .75s 1 forwards fadeload;
	-moz-animation:.75s ease-in .75s 1 forwards fadeload;
	-o-animation:.75s ease-in .75s 1 forwards fadeload;
	-ms-animation:.75s ease-in .75s 1 forwards fadeload;
	-webkit-transition: .25s cubic-bezier(.92,0,.5,1);
	-moz-transition: .25s cubic-bezier(.92,0,.5,1);
	-o-transition: .25s cubic-bezier(.92,0,.5,1);
	-ms-transition: .25s cubic-bezier(.92,0,.5,1);
	transition: .25s cubic-bezier(.92,0,.5,1);
}
.mdes-text {
	color: rgba(12,209,199,1);
}
/*.mdes-link {
	color:rgba(228,78,105,1);
}
.mdes-link:after {
	background-color:rgba(228,78,105,1);	
}*/
.mdes-border:before, .mdes-border:after {
	background: rgba(228,78,105,1);
}
.mdes-background {
	background-color: rgba(12,209,199,1);
}
/*-----------------------------------------------------------MEDIA QUERIES*/
@media only screen and (max-width: 1280px) {
	
}
/*------------------------------------------------------------13in MACBOOK*/
@media only screen and (max-width: 1024px) {
	.thumbnail-button {
		width: 300px;
	}	
	.two {
		height: 500px;
	}
	.project-left {
		width: 50%;
	}
	.project-image-two {
		float: none;
		width: 100%;
		height: 90vh;
		margin: 15% 0;
	}
	.project-image-two img {
		width: 85%;
	}
}
/*------------------------------------------------------------iPHONE 6s*/
@media only screen and (max-width: 768px) {
	
}
/*------------------------------------------------------------iPHONE 6*/
@media only screen and (max-width: 414px) {
	.two {
		width: 100%;
		float: none;
	}
}
/*------------------------------------------------------------iPHONE 5*/
@media only screen and (max-width: 320px) {
}